# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo

# Venv
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/
*.cover
coverage.xml

# IDEs
.vscode/
.idea/
